# WSGI
gunicorn
gevent

# Flask and related plugins
flask
flask-cors
flask-apispec

# Other common dependencies
raven[flask]
python-jose

# Development (QA, testing, debugger tools)
pytest
pytest-cov
black
flake8
flake8-docstrings
flake8-bugbear
isort
safety
ipython
