# WSGI
gunicorn
gevent

# Flask and related plugins
flask
flask-cors
flask-apispec

# Other common dependencies
raven[flask]
python-jose

# Development (QA, testing, debugger tools)
pytest
pytest-cov
black
flake8
flake8-docstrings
flake8-bugbear
isort
safety
ipython

# Compatibility constraints

# apispec and marshmallow (dependencies of flask-apispec): Upgrading to latest
# version yields the following error:
# TypeError: ... got an unexpected keyword argument 'partial'
apispec==2.0.2
marshmallow==2.19.5
